/* VER NO ME FUNCIONA SCROOL DEL MODAL AHORA */

/* Style es el original
   Style2 es el sencilo, uno abajo del otro
   Style_responsive es el final */


* {
  /* border: 1px solid white;    */
  /* Identificamos los box para poder moverlos */
  margin: 15px;
  /*Espacio uniforme entre todos los elementos para evitar que se peguen entre sí*/
}


/* Diseño responsive: Adaptación para dispositivos móviles */
@media (max-width: 600px) {
  .modal-content {
    max-width: 90%;
  }

  h1 {
    font-size: 20px;
  }

  .dashboard-content {
    padding: 10px;
    /* Ajustar el relleno para dispositivos móviles */
  }

  #contenedorDinamico {
    display: block;
    /* Cambia el contenedor a un formato de bloque para adaptarse a resoluciones más pequeñas */
  }

  .myTable {
    width: 100%;
    /* Ajusta el ancho de la tabla al 100% para adaptarse a resoluciones más pequeñas */
  }

  .myTable th,
  .myTable td {
    padding: 4px;
    /* Reducir el relleno para adaptarse a resoluciones más pequeñas */
  }

  .section {
    margin-bottom: 10px;
    /* Ajustar el margen inferior para dispositivos móviles */
  }

  #cerrarSesion {
    display: block;
  }

  footer {
    height: 30px;
    padding: 10px 0;
    font-size: 14px;
  }
}


body {
  background-color: grey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}


/* PÁGINA: INDEX */
header {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente el contenido del header */
  align-items: center;
  /* Centra verticalmente el contenido del header */
  height: 50px;
  /* Ajusta la altura del header según sea necesario */
  background-color: black;
  /* Color de fondo para visualizar el header */
}

header h1 {
  color: white;
  margin: 0;
  /* Elimina el margen predeterminado del h1 */
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  border-color: gold;
  border-radius: 5%;
}

label {
  display: inline-block;
  width: 100px;
  text-align: center;
  /* Alinea el texto a la derecha dentro del label */
  margin-right: 10px;
  /* Agrega un margen a la derecha para separar los labels de los inputs */
}

form input[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form input[type="button"]:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: black;
  font-style: italic;
}

footer {
  /* display: block; */
  height: 50px;
  background-color: black;
  color: white;
  padding: 2%;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}



/* Estilos para el DASHBOARD (ESTOS SON LOS ANTIGUOS)*/
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  margin-top: -10px;
}

.close:hover {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.section {
  flex: 1;
  /* Hace que cada elemento ocupe un espacio proporcional */
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Estilo de los modales*/























/* NUEVOS ESTILOS DASHBOARD */


/* ESTILOS DE BARRA DE NAVEGACIÓN */

.main-menu {
  position: static;
  display: flex;
  background-color: grey;
  width: 100%;
  overflow-y: hidden;
}

.menu-group {
  flex: 1;
  position: relative;
}

.menu-group h2 {
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

.menu-group h2~a {
  display: none;
  padding: 10px;
  color: black;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden;
}

.menu-group a {
  margin: 0px;
  border-radius: 10px;
}

.menu-group h2:hover {
  background-color: black;
  color: grey;
  text-transform: uppercase;

}

.menu-group:hover a {
  display: block;
}

.menu-group a:hover {
  background-color: white;
}


/* FORMATO DE LAS TABLAS */

#contenedorDinamico {
  width: 100%;
  background-color: white;
  display: flex;
}

.myTable {
  border: 1px solid black;
  /* Establece un borde de 1 píxel sólido de color negro */
  position: relative;
  width: 100%;
  border-collapse: collapse;
  /* Combina los bordes de las celdas para que parezcan un solo borde */
  font-family: Arial, sans-serif;
  justify-content: inherit;
}

.myTable th,
.myTable td {
  border: 1px solid black;
  /* Establece un borde de 1 píxel sólido de color negro para las celdas */
  padding: 8px;
  /* Añade un relleno alrededor del contenido de las celdas */
  text-align: left;
}

.myTable th {
  background-color: #f2f2f2;
}

.myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.myTable tr:hover {
  background-color: #e5e5e5;
}


/* BOTONES */

button {
  background-color: rgb(75, 163, 75);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(93, 150, 93);
}


/* FORMULARIOS */
.modal {
  display: none; /* Oculta el modal de forma predeterminada */
  position: fixed;
  /* Posición fija para cubrir toda la pantalla */
  z-index: 1;
  /* Colocar el modal encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permitir desplazamiento si el contenido es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;   /* Centrar el modal en la pantalla */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Ancho máximo de 600px para adaptarse a resoluciones más pequeñas */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para los campos de entrada y etiquetas */
.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

/* Estilos para los botones */
.modal-content button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.modal-content button:hover {
  background-color: #45a049;
}













