/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal de forma predeterminada */
    position: fixed; /* Posición fija para cubrir toda la pantalla */
    z-index: 1; /* Colocar el modal encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro semitransparente */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }


/* Estilos para el encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2c3e50;
  color: white;
}

  /* Estilos para el título */
  header h1 {
    text-align: center;
    margin: 0;
  }
  
  /* Estilos para la imagen */
  #logo {
    max-width: 100px; 
    height: auto;
    order: -1; /* Cambia el orden para que aparezca a la derecha */
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }


  main p {
    display: block;
    margin-bottom: 20px;
  }
  
  main img {
    display: block;
    margin: 0 auto;
  }
  
  
  
  p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
  }
  
  p:last-of-type {
    font-size: 1rem;
    font-style: italic;
    border: 2px solid black;
  padding: 10px;
  line-height: 1.5em;
  }
  
  img {
    margin-left: auto;
  }

footer {
    display:block;
    height: 50px;
    background-color:rgba(0,0,0,0.4);
    color: white;
    padding: 30px 0;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}




/* Estilos CSS para el dashboard */
body {
  font-family: Arial, Helvetica, Verdana, Times New Roman, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #262626;
  color: white;
  padding: 10px;
  text-align: center;
}

.main-menu {
  background-color: #2c2c2c;
  color: white;
  padding: 10px;
  text-align: center;
}

.main-menu ul {
  list-style-type: none;
  display: inline-block;
}

.main-menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.main-menu ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.main-menu ul li a:hover {
  background-color: #007bff;
}

.contenedorDinamico {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}



/* Estilos para los botones del formulario del index */
form input[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form input[type="button"]:hover {
  background-color: #45a049;
}

/* Estilos para el contenedor del botón */
.CrearCuenta {
  float: right;
  text-align: center;
  /* margin-top: 20px; */
  margin-left: 10px;
}

/* Estilos para el botón */
.CrearCuenta button {
  background-color: #af4c59;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.CrearCuenta button:hover {
  background-color: #a04545;
}



/* Estilos para el DASHBOARD */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #005298;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-content p {
  font-size: 18px;
  color: #666;
  margin-right: 10px;
}

#cerrarSesion {
  display: none;
}

@media (max-width: 768px) {
  .dashboard-content {
      flex-direction: column;
      align-items: flex-start;
  }

  #cerrarSesion {
      display: block;
  }